
.head-container
{
width:620px; 
margin:40px 400px 0 auto; 
min-height:450px;
}
@media screen and (max-width: 360px) {.head-container {width:340px}}

.front
{
    width: 160px;
    margin: 4px 29px 20px 120px;
    background-color: #f0f0f0;	color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.student-details {
float: right;
position: static;
left: 220px;
width:300px;
height: 370px;
}

.student-details h3 {
margin: 5px 5px 0 0;
font-size: 16px;
}
.student-details p{
 line-height:26px;
 font-size:16px;
 color:#999
 }
 
 
.student-details p span{
	color:#666
}

div.seatCharts-cell {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin: 3px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 13px;
}

div.seatCharts-cell-legend {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin: 3px;
	float: left;
	text-align: center;
	outline: none;
	font-size: 13px;
}

div.seatCharts-seat-legend{
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-indent:-999em
}


div.seatCharts-seat {
	color: #fff;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 text-indent:-999em
}


div.seatCharts-row {
	height: 35px;
}

div.seatCharts-seat.available
 {
 background-color: #4CAF50;
 }
 
div.seatCharts-seat.focused 
{
background-color: red;
border: none;
}

div.seatCharts-seat.absent {
	background-color: #D32F2F;
}

div.seatCharts-seat.late{
	background-color: #FFEB3B;
}


div.seatCharts-seat.unavailable {
background-color: #472B34;
cursor: not-allowed;
}

div.seatCharts-container {
border-right: 1px dotted #adadad;
width:400px;
padding:50px;
float: left;	
 
 }

div.seatCharts-seat.available.first-class {
background-color: #3a78c3;
}

div.seatCharts-seat.available.Business-class	 {
background-color: #99CCFF	;
}

div.seatCharts-seat.available.Premium-coach	 {
background-color: #00FF7F;
}





#seat-info{
position:absolute;
 padding:4px 8px;
 background:#ffc;
 border-radius: 5px;
 display:none
 }

div.seatCharts-legend {
padding-left: 0px;
position: absolute;
bottom: -150px;
}

ul.seatCharts-legendList {
padding-left: 0px;
}

.seatCharts-legendItem{
float:left;
 width:150px;
 margin-top: 10px;
 line-height: 2;
 }

span.seatCharts-legendDescription {
margin-left: 5px;
line-height: 30px;
}

.checkout-button {
	display: block;
	width:150px;
	height:24px;
	line-height:20px;
	margin: 10px auto;
	border:1px solid #999;
	font-size: 14px;
	cursor:pointer;
 }

#selected-seats {
max-height: 220px;
overflow-y: auto;
overflow-x: none;
width: 260px;
}

#selected-seats li{
float:left;
 width:100px;
 border:1px solid #d3d3d3;
 background:#f7f7f7;
 margin:6px;
 font-size:14px;
 font-weight:bold;
 text-align:center;
 }
