body{
	background-color: #fafafa;
}

.toolbar-profile-bg{
	background-image: url("../img/svg/pattern.svg");
}
.avatar{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-top: 15px;
	padding: 10px;
}
input[type=file]{
	display: none;
}

.achievementImage{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loading-bar-spinner {
  top: 50%;
  left: 50%;
}

.resumeCard{
	width: 400px; 
	height: 225px;
	background-image: url("../img/kite.jpg");
	background-size: cover;
}

.pointerCursor{
	cursor: pointer;
}