<div layout="column" layout-padding>
	<div layout="row" layout-align="center center">
		<md-content layout-padding style="background-color: #fafafa;">
			<md-card style="width: 400px; height: 100%;" class="md-whiteframe-5dp">
				<div layout="column" layout-align="center center">
					<img ng-src="resources/img/DLS-CSB_Seal.png" 
						class="md-card-image" style="width: 50px; height: 50px;">
					<span class="md-caption">Faculty Class Management System</span>
				</div>
			 <md-card-content>
			 	<form name="loginForm" ng-submit="login.login(login.credentials)">
			  		<div layout="column">
				   		<md-input-container>
				   			<label>Username</label>
				   			<input name="username" ng-model="login.credentials.username" required />
                            <div ng-messages="loginForm.username.$error" role="alert">
                                <div ng-message="required">
                                    This field is required.
                                </div>
                            </div>
				   		</md-input-container>
				   		<md-input-container>
				   			<label>Password</label>
				   			<input type="password" name="password" ng-model="login.credentials.password" required />
                            <div ng-messages="loginForm.password.$error" role="alert">
                                <div ng-message="required">
                                    This field is required.
                                </div>
                            </div>
				   		</md-input-container>
				   		<div layout="column" layout-align="center center" ng-show="login.hasError">
			   				<span class="md-caption" style="color: red;">Incorrect username/password.</span>
			   			</div>
			   			<div>
			   				<span class="md-caption"><a ui-sref="forgotPwd">Forgot your password?</a></span>
			   			</div>
				   		<div layout="row" layout-align="end end">
				   			<div>
				   				<md-button class="md-primary md-raised" type="submit" ng-disabled="login.disableButton">
				   					<span class="md-body-1">Login</span>
				   				</md-button>
				   			</div>
				   		</div>
			   		</div>
			   </form>
			 </md-card-content>
			</md-card>
		</md-content>
	</div>
</div>