
	<md-content layout-margin>
		<md-tabs md-dynamic-height md-border-bottom md-selected="$index" md-center-tabs md-no-ink-bar="true">
			<md-tab ui-sref="dashboard.settings.general">
				<md-tab-label>
					General
				</md-tab-label>
				<md-tab-body>
					<div ui-view></div>
				</md-tab-body>
			
			</md-tab>
			
			<md-tab>
				<md-tab-label>
					Miscellaneous
				</md-tab-label>
				<md-tab-body>
					<h4 class="md-headline">Miscellaneous settings</h4>
					<md-divider></md-divider>
					<md-content layout="column">
						<md-list>
							<md-list-item class="md-2-line">
								<md-icon md-svg-icon="resources/img/svg/ic_insert_drive_file_24px.svg"></md-icon>
								<div class="md-list-item-text">
									<h4>Copy of your profile (.pdf)</h4>
									<md-button class="md-primary md-raised ">
										Download
									</md-button>
								</div>
							</md-list-item>
							<md-list-item class="md-2-line">
								<md-icon md-svg-icon="resources/img/svg/ic_insert_drive_file_24px.svg"></md-icon>
								<div class="md-list-item-text">
									<h4>Standard format for recording attendance (.xlsx)</h4>
									<md-button class="md-primary md-raised ">
										Download
									</md-button>
								</div>
							</md-list-item>
						</md-list>
					</md-content> 
				</md-tab-body>
			</md-tab>

			<md-tab>
				<md-tab-label>
					Security
				</md-tab-label>
			</md-tab>
		</md-tabs>
	</md-content>

