<md-content layout="column" layout-padding layout-margin>
	
	<div layout="column">
		<md-content layout-padding layout-margin>
			<md-button class="md-primary md-raised">Upload Subjects</md-button>
		</md-content>
	</div>
	<md-divider></md-divider>
	
		
	<md-grid-list
			md-cols-xs="1" md-cols-gt-xs="1" md-cols-sm="2" md-cols-gt-sm="2"
			md-cols-gt-md="3" md-cols-lg="3" md-cols="3"
			md-row-height-xs="3:6" md-row-height-gt-xs="1:1" md-row-height-gt-sm="1:1"
			md-row-height-sm="2:3" md-row-height-gt-md="3:2" md-row-height-lg="5:6"
			md-row-height="5:6">


		<md-grid-tile ng-repeat="x in ['Progap', 'IS-EBIZ', 'Proglan', 'Webdevt', 'Isprog', 'Infores', 'Sysanal', 'Sysdesi']">
			<md-content>
				<md-card   class="md-whiteframe-10dp">
					<md-card-header>
						<md-card-header-text layout-align="center center">
							<span class="md-title">{{x}}</span>
							<span class="md-subhead">MW 2:40-4:10 - CL3</span>
						</md-card-header-text>
					</md-card-header>
					<md-divider></md-divider>

					<md-card-content layout="column">
						<md-subheader class="md-no-sticky">Preferred professors</md-subheader>
						<md-list>
							<md-list-item
							 ng-repeat="prof in ['Mon Zalameda', 'Eusebio Yu', 'Eisen Sy', 'Henry Castro', 'Ernest Ocson']">
							  <img alt="" ng-src="resources/img/avatar.jpg" class="md-avatar" />
							  <p>{{prof}}</p>
							  <md-radio-group ng-model="data.group1" layout-margin>
							        <md-radio-button value="Apple" aria-label="Apple"></md-radio-button>
							   </md-radio-group>   
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</md-content>

		</md-grid-tile>


	</md-grid-list>

	<md-divider></md-divider>
	<md-content layout-padding>
		<md-button class="md-primary md-raised">Save changes</md-button>
	</md-content>
	
	
	
	

</md-content>