<md-dialog aria-label="Upload achievement/certification">
	<md-dialog-content style="width: 500px;">
	    <md-content layout-padding layout-margin>

	      	<h5 class="md-title">Upload achievement/certification</h5>
			<md-content layout="column" layout-margin>
				<md-input-container class="md-block">
				  	<label>Achievement/Certification name</label>
				  	<input ng-model="modal.fileData.achievementName">
				</md-input-container>

				
					<achievement-Preview
						file="modal.fileData.file">
					</achievement-Preview>

			</md-content>      
		</md-content>
	</md-dialog-content>
	<md-dialog-actions>

		<md-content layout="row" layout-padding layout-margin layout-align="end end" ng-show="modal.displayProgress">
			<span class="md-subhead">Uploading...</span>
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</md-content>
		
		<md-content layout-padding layout-margin ng-hide="modal.displayProgress">
			<md-button class="md-primary md-raised" ng-click="modal.closeDialog()">
				Cancel
			</md-button>
			
			<md-button class="md-primary md-raised" 
				ng-click="modal.upload_Achievement_Certificate()" ng-disabled="modal.disableButton">
			    Upload file
			</md-button>
		</md-content>
	</md-dialog-actions>
</md-dialog>

