<md-content layout-padding layout-margin>
	<div layout="column">
		<md-grid-list
			md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
        md-row-height-sm="1:1" md-row-height-gt-md="1:1" 
        md-gutter-gt-sm="8px">

        	<md-grid-tile>
        		<md-content layout-xs="column" layout-sm="column" layout="row">
        			<div layout="column">
	 					<md-card class="md-whiteframe-10dp" ui-sref="dashboard.profile.achievements">
	 						<img src="resources/img/project.jpg" class="md-card-image">
	 						<md-card-title>
	 							<md-card-title-text>
	 								<span class="md-title">Achievements/Certifications</span>
	 								<span class="md-subhead">Total: nan</span>
	 							</md-card-title-text>
	 						</md-card-title>
	 					</md-card>
 					</div>
        		</md-content>
        	</md-grid-tile>

        	<md-grid-tile>
        		<md-content layout-xs="column" layout-sm="column" layout="row">
        			<div layout="column">
	 					<md-card class="md-whiteframe-10dp" ui-sref="dashboard.profile.projects">
	 						<img src="resources/img/project.jpg" class="md-card-image">
	 						<md-card-title>
	 							<md-card-title-text>
	 								<span class="md-title">Projects</span>
	 								<span class="md-subhead">Total: nan</span>
	 							</md-card-title-text>
	 						</md-card-title>
	 					</md-card>
 					</div>
        		</md-content>
        	</md-grid-tile>

        	<md-grid-tile>
        		<md-content layout-xs="column" layout-sm="column" layout="row">
        			<div layout="column">
	 					<md-card class="md-whiteframe-10dp" ui-sref="dashboard.profile.research">
	 						<img src="resources/img/research.jpg" class="md-card-image">
	 						<md-card-title>
	 							<md-card-title-text>
	 								<span class="md-title">Researches</span>
	 								<span class="md-subhead">Total: nan</span>
	 							</md-card-title-text>
	 						</md-card-title>
	 					</md-card>
 					</div>
        		</md-content>
        	</md-grid-tile>

        	<md-grid-tile>
        		<md-content layout-xs="column" layout-sm="column" layout="row">
        			<div layout="column">
	 					<md-card class="md-whiteframe-10dp">
	 						<img src="resources/img/resume.jpg" class="md-card-image">
	 						<md-card-title>
	 							<md-card-title-text>
	 								<span class="md-title">Resume</span>
	 								<span class="md-subhead">Link: 
	 										<a ng-href="{{general.fileData.resumeUrl}}" target="_blank">
	 											{{general.fileData.resumeName}}
	 										</a></span>
	 							</md-card-title-text>
	 						</md-card-title>
	 						<md-card-actions>
	 							<md-card-icon-actions layout="row" layout-align="end end">
	 								
	 								<upload-Icon icon="resources/img/svg/file_upload.svg"
	 									file-data="general.fileData"
	 									url="uploadResume.action">
	 								</upload-Icon>
	 							</md-card-icon-actions>
	 						</md-card-actions>
	 					</md-card>
 					</div>
        		</md-content>
        	</md-grid-tile>
        </md-grid-list>
	</div>
</md-content>
