<md-dialog aria-label="mdDialog">
	<md-dialog-content style="width: 500px;">
	    <md-content layout-padding layout-margin>
	      	<h5 class="md-title">Delete this item?</h5>
	      	<span class="md-subhead">Item: <span class="md-caption">{{deleteDialogCtrl.displayFile}}</span></span>
		</md-content>
	</md-dialog-content>
	<md-dialog-actions>
		<md-content layout-padding layout-margin>
			<md-button class="md-primary md-raised" ng-click="deleteDialogCtrl.closeDialog()">
				Cancel
			</md-button>
			<md-button class="md-primary md-raised" ng-click="deleteDialogCtrl.deleteFile()" 
						ng-disabled="deleteDialogCtrl.disableDeleteBtn">
			    Delete
			</md-button>
		</md-content>
	</md-dialog-actions>
</md-dialog>

