<div layout="column" layout-padding layout-margin>
	<div>
        <div class="md-toolbar-tools">
            <h5 class="md-title">Activity Logs</h5>
            <div flex>
                <!-- Separation -->
            </div>
            <md-input-container md-no-float class="md-block">
                <md-icon md-svg-icon="resources/img/svg/search.svg"></md-icon>
                <input ng-model="act.paginate.query" placeholder="Search" type="text">   
            </md-input-container>
        </div>
		<md-table-container>
     		<table md-table>
     	    	<thead md-head md-order="act.paginate.order">
     	    		<tr md-row>
     	    			<th md-column><span>NO.</span></th>
     	    			<th md-column md-order-by="auditAction"><span>Audit Action</span></th>
     	    			<th md-column md-order-by="auditType"><span>Audit Type</span></th>
     	    			<th md-column md-order-by="timestamp"><span>Audit timestamp</span></th>
     	    		</tr>
     	    	</thead>
     	    	<tbody md-body>
     	    		<tr md-row md-auto-select ng-repeat="audit in act.activityLogList | filter: act.paginate.query
     			      		| orderBy: act.paginate.order
     			      		| limitTo: act.paginate.limit : (act.paginate.page - 1) * act.paginate.limit">
     	    			<td md-cell>{{$index + 1}}</td>
     	    			<td md-cell>{{audit.auditAction}}</td>
     	    			<td md-cell>{{audit.auditType}}</td>
     	    			<td md-cell>{{audit.timestamp}}</td>
     	    		</tr>
     	    	</tbody>
     	    </table>
     	</md-table-container> 
     	<div layout="row" layout-actign="start start" layout-margin>
     		<md-table-pagination md-limit="act.paginate.limit" md-page="act.paginate.page"
     		md-total="{{act.activityLogList.length}}"></md-table-pagination>
     	</div>
	</div>
</div>