<md-content layout="column" layout-padding layout-margin>

	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
	    <span>Schedules</span>
	  </div>
	</md-toolbar>


	<md-table-container>
	  <table md-table>
	    <thead md-head md-order="sched.query.order">
	      <tr md-row>
	        <th md-column><span>NO.</span></th>
	        <th md-column md-order-by="courseCode"><span>CourseCode</span></th>
	        <th md-column><span>Section</span></th>
	        <th md-column><span>Days</span></th>
	        <th md-column><span>Hours</span></th>
	        <th md-column><span>BLDG</span></th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row md-auto-select ng-repeat="sched in sched.schedule | orderBy: 'sched.query.order'">
	        <td md-cell>{{sched.NO}}</td>
	        <td md-cell>{{sched.CourseCode}}</td>
	        <td md-cell>{{sched.Section}}</td>
	        <td md-cell>{{sched.Days}}</td>
	        <td md-cell>{{sched.Hours}}</td>
	        <td md-cell>{{sched.BLDG}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>

</md-content>