<md-dialog aria-label="Upload achievement/certification">
	<md-dialog-content style="width: 500px;">
	    <md-content layout-padding layout-margin>

	      	<h5 class="md-title">Upload resume</h5>
			<md-content layout-margin>
				<span class="md-caption">Attach a file:</span>
				<span class="md-caption">{{uploadDialogCtrl.filedata.name}}<i></i></span>
				<upload-Icon 
					icon="resources/img/svg/file.svg"
					file-data="uploadDialogCtrl.filedata"
					url="uploadResume.action"
					>
				</upload-Icon>
			</md-content>      
		</md-content>
	</md-dialog-content>
	<md-dialog-actions>
		<md-content layout-padding layout-margin ng-hide="uploadDialogCtrl.displayProgress">
			<md-button class="md-primary md-raised" ng-click="uploadDialogCtrl.cancelDialog()">
				Close
			</md-button>
	</md-dialog-actions>
</md-dialog>

