<div layout="column" layout-padding layout-margin>
	<div>
          <md-toolbar class="md-table-toolbar md-default">
           <div class="md-toolbar-tools">
             <h3 class="md-title"> Audit Logs </h3>
             <div flex>
               <!-- Separation -->
             </div>
               <md-input-container md-no-float class="md-block">
                    <md-icon md-svg-icon="resources/img/svg/search.svg"></md-icon>
                    <input ng-model="al.paginate.query" placeholder="Search" type="text">   
               </md-input-container>
           </div>
          </md-toolbar>
          
		<md-table-container ng-hide="false">
     		<table md-table>
     	    	<thead md-head md-head md-order="al.paginate.order">
     	    		<tr md-row>
     	    			<th md-column><span>NO.</span></th>
     	    			<th md-column><span>Firstname</span></th>
     	    			<th md-column md-order-by="users.lastName"><span>Lastname</span></th>
     	    			<th md-column md-order-by="auditAction"><span>Audit action</span></th>
     	    			<th md-column md-order-by="auditType"><span>Audit Type</span></th>
     	    			<th md-column md-order-by="timestamp"><span>Audit timestamp</span></th>
     	    		</tr>
     	    	</thead>
     	    	<tbody md-body>
     	    		<tr md-row md-auto-select ng-repeat="audit in al.auditLogList | filter: al.paginate.query
				      		| orderBy: al.paginate.order
				      		| limitTo: al.paginate.limit : (al.paginate.page - 1) * al.paginate.limit">
     	    			<td md-cell>{{$index + 1}}</td>
     	    			<td md-cell>{{audit.users.firstName}}</td>
     	    			<td md-cell>{{audit.users.lastName}}</td>
     	    			<td md-cell>{{audit.auditAction}}</td>
     	    			<td md-cell>{{audit.auditType}}</td>
     	    			<td md-cell>{{audit.timestamp}}</td>
     	    		</tr>
     	    	</tbody>
     	    </table>
     	</md-table-container> 
     	<div layout="row" layout-align="start start" layout-margin>
     		<md-table-pagination md-limit="al.paginate.limit" md-page="al.paginate.page"
     		md-total="{{al.auditLogList.length}}"></md-table-pagination>
     	</div>
	</div>
</div>