<div layout="column">

	<div layout="row" layout-padding layout-margin>
		<div>
			<md-button class="md-primary md-raised" ng-click="developer.uploadProfessors()">Upload professors</md-button>
		</div>
		<div>
			<md-button class="md-primary md-raised" ng-click="developer.uploadSubjects()">Upload Subjects</md-button>
		</div>
		<div>
			<md-button class="md-primary md-raised" ng-click="developer.loadSubjects()">Load subjects</md-button>
		</div>
		<div>
			<md-button class="md-primary md-raised" ng-click="developer.loadProfessors()">Load professors</md-button>
		</div>
	</div>

	<div>
	<md-content layout-padding layout-margin ng-show="developer.displaySubjectsTable">
		<md-table-container>
			<table md-table>
		    	<thead md-head>
		    		<tr md-row>
		    			<th md-column><span>NO.</span></th>
		    			<th md-column><span>Course Code</span></th>
		    			<th md-column><span>Description</span></th>
		    			<th md-column><span>Units</span></th>
		    		</tr>
		    	</thead>
		    	<tbody md-body>
		    		<tr md-row md-auto-select ng-repeat="subjects in developer.listOfSubjects">
		    			<td md-cell>{{$index}}</td>
		    			<td md-cell>{{subjects.courseCode}}</td>
		    			<td md-cell>{{subjects.description}}</td>
		    			<td md-cell>{{subjects.units}}</td>
		    		</tr>
		    	</tbody>
		    </table>
		</md-table-container>
	</md-content>


	<md-content layout-padding layout-margin ng-show="developer.displayUsersTable">
		<md-table-container>
		  <table md-table>
		    <thead md-head>
		      <tr md-row>
		        <th md-column><span>NO.</span></th>
		        <th md-column><span>Professor name</span></th>
		        <th md-column><span>Current account type</span></th>
		        <th md-column><span>Academic Adviser</span></th>
		        <th md-column><span>Chairperson</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-auto-select ng-repeat="file in developer.list">

		        <td md-cell>{{$index}}</td>
		        <td md-cell>{{file.firstName + " " + file.lastName}}</td>
		        <td md-cell>
		        	<span ng-repeat="acType in file.accountType">
		        		{{acType.accountType}}
		        	</span>
		        </td>
		        <td md-cell>
		        	<md-checkbox class="md-secondary" 
		        	 	 ng-model="developer.selectedUsers[file.userID]"
		        		 ng-true-value="'Academic Adviser'"
		        		 ng-false-value=""		        		 
		        		 aria-label="md-checkbox">
		        	</md-checkbox>
				</td>
				<td md-cell>
		        	<md-checkbox class="md-secondary" 
		        		ng-model="developer.selectedUsers[file.userID]"
		        		ng-true-value="'Chairperson'"
		        		ng-false-value=""
		        		aria-label="md-checkbox">
		        	</md-checkbox>
				</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>

		<md-content layout="row" layout-padding layout-margin >
			<md-button class="md-primary md-raised" ng-click="developer.updateAccountType()">Save account type</md-button>
		</md-content>
	</md-content>

</div>