<div layout="column">
<md-content layout="column">
	<md-grid-list 
		md-cols-xs="1" md-cols-gt-xs="1" md-cols-sm="2" md-cols-gt-sm="2"
		md-cols-gt-md="3" md-cols-lg="3" md-cols="3"
		md-row-height-xs="1:1" md-row-height-gt-xs="1:1" md-row-height-gt-sm="1:1"
		md-row-height-sm="1:1" md-row-height-gt-md="3:2" md-row-height-lg="6:5"
		md-row-height="2:2">

		<md-grid-tile>
			<md-content layout-xs="column" layout-sm="column" layout="row">
				<md-card ui-sref="dashboard.userManagement" class="md-whiteframe-5dp" card-Hover>
					<md-card-avatar>
					    <img src="resources/img/icons/users.png" class="md-user-avatar" alt="Avatar">
					 </md-card-avatar>
					<md-card-content layout="row" layout-align="center center">
						<span class="md-headline">Users Management</span>
					</md-card-content>
				</md-card>
			</md-content>
		</md-grid-tile>

		<md-grid-tile>
			<md-content layout-xs="column" layout-sm="column" layout="row">
				<md-card ui-sref="dashboard.subjManagement" class="md-whiteframe-5dp" card-Hover>
					<md-card-avatar>
					    <img src="resources/img/icons/subjects.png" class="md-user-avatar" alt="Avatar">
					 </md-card-avatar>
					<md-card-content layout="row" layout-align="center center">
						<span class="md-headline">Subjects Management</span>
					</md-card-content>
				</md-card>
			</md-content>
		</md-grid-tile>

		<md-grid-tile>
			<md-content layout-xs="column" layout-sm="column" layout="row">
				<md-card ui-sref="dashboard.auditLogs" class="md-whiteframe-5dp" card-Hover>
					<md-card-avatar>
					    <img src="resources/img/icons/subjects.png" class="md-user-avatar" alt="Avatar">
					 </md-card-avatar>
					<md-card-content layout="row" layout-align="center center">
						<span class="md-headline">Audit Logs</span>
					</md-card-content>
				</md-card>
			</md-content>
		</md-grid-tile>
	</md-grid-list>
</md-content>