<md-content layout="column" layout-padding layout-margin>
	<md-content layout="column" layout-align="center center" ng-hide="assignFaculty.hasList">
		<h5 class="md-title">Assign Faculty</h5>
		<img ng-src="resources/img/null.png">
		<p class="md-subhead">Let's get started by uploading the subjects with schedules from the registrar.</p>
	</md-content>
	<div ng-show="assignFaculty.hasList">

		<md-input-container>
			<label>Sort by: </label>
			<md-select ng-model="assignFaculty.sorting">
				<md-option ng-repeat="sort in assignFaculty.sortList" value="{{sort.value}}">
		           {{sort.category}}
		         </md-option>
			</md-select>
		</md-input-container>


		<md-grid-list
				md-cols-xs="1" md-cols-gt-xs="1" md-cols-sm="2" md-cols-gt-sm="2"
				md-cols-gt-md="3" md-cols-lg="3" md-cols="3"
				md-row-height-xs="3:6" md-row-height-gt-xs="1:1" md-row-height-gt-sm="1:1"
				md-row-height-sm="2:3" md-row-height-gt-md="3:2" md-row-height-lg="2:2"
				md-row-height="2:2" ng-show="assignFaculty.hasList">

			<md-grid-tile ng-repeat="subj in assignFaculty.data | orderBy: assignFaculty.sorting">
				<md-content>
					<md-card class="md-whiteframe-5dp">
						<md-card-header>
							<md-card-header-text layout-align="center center">
								<span class="md-title">
									{{subj.subject.courseCode}} 
								</span>
								<span class="md-subhead">{{subj.subject.description}}</span>
								<span class="md-subhead">{{subj.sched.time}} {{subj.sched.day}}</span>
								<span class="md-subhead">{{subj.sched.section}} {{subj.sched.room}}</span>
							</md-card-header-text>
						</md-card-header>
						<md-divider></md-divider>

						<md-card-content layout="column">
							<md-subheader class="md-no-sticky">Preferred professors</md-subheader>
							<md-list>
								<md-list-item ng-repeat="user in subj.users">
								  <img alt="" bn-lazy-src="{{user.pictureUrl}}" width="40px" height="40px" class="md-avatar" />
								  <p>{{user.firstName}} {{user.lastName}}</p>
								  <md-radio-group ng-model="assignFaculty.selected[subj.$$hashKey]" layout-margin >
								        <md-radio-button ng-value="user.username" 
								        	schedule-Conflict
								        	user-Data="user.username" subject-Data="subj"
								        	has-Conflict="assignFaculty.hasConflict"
								        	aria-label="radio">
								        </md-radio-button>
								   </md-radio-group>   
								</md-list-item>
							</md-list>
						</md-card-content>
					</md-card>
				</md-content>
			</md-grid-tile>
		</md-grid-list>
		<md-button class="md-primary md-raised" ng-click="assignFaculty.saveChanges()" 
				ng-disabled="assignFaculty.hasConflict">Save changes</md-button>
	</div>
</md-content>
<div>
	<upload-Icon 
    	class="md-primary md-fab md-fab-bottom-right"
    	style="position: fixed;"
    	tooltip-Msg="Upload subjects"
    	tooltip-Pos="left"
		icon="resources/img/svg/file.svg"
		file-data="assignFaculty.filedata"
		url="uploadSubjects.action">
	</upload-Icon>
</div>