<div layout="column" layout-padding layout-margin>
	
		<md-content layout="row" layout-align="center center">
			<form name="basicInformation" layout="column" flex="50">
			<h5 class="md-title">Basic Information</h5>
		     
		      <md-input-container class="md-block">
		       	<label>Firstname</label>
		        <input ng-model="genSet.user.firstName" disabled="true">
		      </md-input-container>
		      
		      <md-input-container class="md-block">
		        <label>Lastname</label>
		        <input ng-model="genSet.user.lastName" disabled="true">
		      </md-input-container>

		      <md-input-container class="md-block">
		        <label>Username (disabled)</label>
		        <input ng-model="genSet.user.username" disabled="true">
		      </md-input-container>
		      <md-content layout-padding ng-hide="genSet.isNotAuthorized">
		      	<md-chips ng-model="genSet.selectedSubjects"
		      		 	 md-require-match="true" md-on-remove="genSet.delete_subject($chip)"
		      		 	 md-on-add="genSet.validateChips($chip)">
		      		<md-autocomplete
		      			md-selected-item="genSet.selectedItem"
		      			md-search-text="genSet.searchText"
		      			md-items="item in genSet.listOfSubjects | filter:genSet.searchText"
		      			md-item-text="item.courseCode"
		      			placeholder="Preferred subject">
		      			<span md-highlight-text="genSet.searchText">{{item.courseCode}}</span>
		      		</md-autocomplete>	
		      		<md-chip-template>
		      			<span>
		      				{{$chip.courseCode}}
		      			</span>
		      		</md-chip-template>
		      	</md-chips>
		      </md-content>
		        <md-content>
			      <md-button class="md-primary md-raised md-fab" ng-click="genSet.showDialogPassword($event)" aria-label="button">
			      	<md-icon md-svg-icon="resources/img/svg/report.svg"></md-icon>
			      </md-button>
			      <span>Request for a password change</span>
		        </md-content>
		    </form>
		</md-content>	

		<md-content layout="row" layout-align="center center">
			<md-button class="md-primary md-raised" ng-click="genSet.saveChanges()">
			    Save changes
			</md-button>
		</md-content>
</div>