<md-dialog aria-label="Change password">
	<md-dialog-content style="width: 500px;">
	      <md-content layout-padding layout-margin>

	      	<h5 class="md-title">Change password</h5>
		      <md-input-container class="md-block">
		        <label>Current password</label>
		        <input ng-model="dialogPasswordCtrl.pass.currentPassword" type="password">
		      </md-input-container>

		       <md-input-container class="md-block">
		        <label>New password</label>
		        <input ng-model="dialogPasswordCtrl.pass.newPassword" type="password">
		      </md-input-container>

		       <md-input-container class="md-block">
		        <label>Verify new password</label>
		        <input ng-model="dialogPasswordCtrl.pass.newPassword_Verify" type="password">
		      </md-input-container>
		    </md-content>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary md-raised" ng-click="dialogPasswordCtrl.updateUserPassword()">
		    Save changes
		</md-button>
	</md-dialog-actions>
</md-dialog>