<md-content layout="column" layout-padding layout-margin>
	<h5 class="md-title">Miscellaneous settings</h5>
	<span class="md-caption">*If you don't see what you're looking here, try refreshing the page</span>
	<md-list>
		<md-list-item class="md-2-line">
			<md-icon md-svg-icon="resources/img/svg/ic_insert_drive_file_24px.svg"></md-icon>
			<div class="md-list-item-text">
				<h4>Copy of your profile (.pdf)</h4>
				<md-button class="md-primary md-raised" ng-href="generatePDF.action">
					Download
				</md-button>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line" ng-show="misc.isChairperson">
			<md-icon md-svg-icon="resources/img/svg/ic_insert_drive_file_24px.svg"></md-icon>
			<div class="md-list-item-text">
				<h4>Download assigned professors</h4>
				<md-button class="md-primary md-raised" ng-href="Generate_AssignedProfessors.action">
					Download
				</md-button>
			</div>
		</md-list-item>
	</md-list>
</md-content> 