<md-content layout-margin>
	<md-tabs md-dynamic-height md-border-bottom md-selected="$index" md-center-tabs md-no-ink-bar="true">
		<md-tab ui-sref="dashboard.settings.general">
			<md-tab-label>
				General
			</md-tab-label>
			<md-tab-body>
				<div ui-view></div>
			</md-tab-body>
		</md-tab>
		<md-tab ui-sref="dashboard.settings.miscellaneous">
			<md-tab-label>
				Miscellaneous
			</md-tab-label>
			<md-tab-body>
				<div ui-view></div>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</md-content>

