<md-content layout="column" layout-padding layout-margin>
		<md-list>
			<md-content layout-padding layout-align="center center">
				
				<md-subheader class="md-no-sticky">Download professor's profile</md-subheader>

				<md-list-item ng-repeat="prof in ['Mon Zalameda', 'Eusebio Yu', 'Eisen Sy', 'Henry Castro', 'Ernest Ocson']">
				

					<img alt="" ng-src="resources/img/avatar.jpg" class="md-avatar" />
					<p>{{prof}}</p>
					<md-checkbox class="md-secondary" ng-model="topping.wanted" aria-label="checbox"></md-checkbox>
				
				</md-list-item>
			</md-content>
		</md-list>
	<div>
		<md-content layout="row" layout-margin layout-padding layout-align="start">
			<h4>Select all</h4>
			<md-checkbox class="md-secondary" ng-model="selected" aria-label="checkbox"></md-checkbox>
		</md-content>
		<md-content layout="row" layout-margin layout-padding>
			<md-button class="md-primary md-raised">Download</md-button>
		</md-content>
	</div>
</md-content>