<md-content layout="column" layout-padding layout-margin>

	<md-content layout="column" layout-align="center center" ng-hide="dp.hasItems">
		<h5 class="md-title">Generate professor's profile</h5>
		<img ng-src="resources/img/null.png">
		<p class="md-subhead">Help the department manage the profiles for the PAASCU.</p>
	</md-content>

	<div ng-show="dp.hasItems">
		<md-list>
			<md-subheader class="md-no-sticky">
				<p class="md-subhead">Download professor's profile</p>
				<span class="md-caption">*Some professor may not be listed here due to lack of profile</span>
			</md-subheader>
			<md-list-item ng-repeat="prof in dp.items">
				<img alt="" bn-lazy-src="{{prof.users.pictureUrl}}" width="100%" height="100%" class="md-avatar" />
				<p>{{prof.users.firstName + " " + prof.users.lastName}}</p>
				<md-checkbox class="md-secondary"
					ng-checked="dp.exists(prof, dp.selected)" 
					ng-click="dp.toggle(prof, dp.selected)"
					aria-label="checkbox">
				</md-checkbox>
			</md-list-item>
		</md-list>
		<div>
			<md-content layout="row" layout-margin layout-padding layout-align="start">
				<h4>Select all</h4>
				<md-checkbox class="md-secondary"
					ng-click="dp.selectAllProfessors()" 
					aria-label="checkbox">
				</md-checkbox>
			</md-content>
			<md-content layout="row" layout-margin layout-padding>
				<!-- <pdf-Download href=></pdf-Download> -->
				   <md-button class="md-primary md-raised" aria-label="icon" 
				   	ng-click="dp.download()" ng-href="Download_Professors.action">
					 	Download PDF
				   </md-button>
			</md-content>
		</div>
	</div>
</md-content>